<!DOCTYPE html>
<html>
<head>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="../../static/css/Formularios.css"footer">
    <div class="container">
        <div class="row ">
       	<div id="contenedor" class="contenedor-principal"">
			<div class="logoPrincipal">
				<h1 id="logoPrincipal"></h1>
			</div>
            </div>
        </div>
        <div class="row">
                    <div class="col-12 d-flex justify-content-center icons">
                            <nav class="navbar navbar-expand-sm navbar-sucess my-navbar">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                 <strong>
                                  <ul class="navbar-nav">
                                    <li class="nav-item active">
                                      <a class="nav-link" href="https://fundecompe.org/">Home <i class="fas fa-home"></i></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">Registrate <i class="fas fa-user"></i></a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"> Ingresar <i class="fas fa-sign-in-alt"></i></a>
                                    </li>
                                  </ul>
                                  </strong>
                                </div>
                          </nav>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

    </div>
</div>
</html>