<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head lang="es" th:fragment="head">
	<title></title>
	<meta charset="ISO-8859-1">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../static/css/bootstrap.css">
	<link href="../static/css/Formularios.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"
	rel="stylesheet">
</head>
</html>