<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Formulario2</title>

<link href="../static/css/Formularios.css" rel="stylesheet"
	type="text/css">

<link href="../static/css/bootstrap.css" rel="stylesheet"
	type="text/css">

</head>
<body>
	<form action="">
		<div id="contenedor" class="contenedor-principal"">
			<div class="logoPrincipal">
				<h1 id="logoPrincipal"></h1>
			</div>
			<br>
			<div class="contenedor2">
				<br> <br> <a href="" id="enlace1">Preguntas</a>
				<h2 style="text-align: center">Formularios de aprendizaje</h2>
				<div class="formulario1-central" id="formulario1-central">
					<h5>Pregunta 2:</h5>

					<input type="text" id="input1" placeholder="Enunciado">
				    <input type="text" id="input2" placeholder="Respuesta 1">
					<input type="text" id="input3" placeholder="Enunciado">
					<input type="text" id="input4" placeholder="Enunciado">
				    <input type="text" id="input5" placeholder="Respuesta 2">
				    <input type="text" id="input6" placeholder="Enunciado">
					<input type="text" id="input7" placeholder="Enunciado">
				    <input type="text" id="input8" placeholder="Respuesta 2">
					

					<div class="radio-butons">

						<input type="radio" name="color" value="azul"> <input
							type="text"> <br> <br> <input type="radio"
							name="color" value="negro"> <input type="text"> <br>
						<br> <input type="radio" name="color" value="amarillo">
						<input type="text"> <br> <br> <input
							type="radio" name="color" value="amarillo"> <input
							type="text">

					</div>
					<br> <input type="button" value="Guardar Pregunta"
						id="mybutton" name="test" class="btn btn-primary">
				</div>

			</div>
		</div>
		<br>
	</form>

</body>
</html>