<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<div th:replace="fragment/header :: head"></div>
</head>
<body>
</body>
<div class="container">
	<div class="row ">
		<div id="contenedor" class="contenedor-principal">
			<div class="logoPrincipal">
				<h1 id="logoPrincipal"></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 d-flex justify-content-center icons">
			<div th:replace="fragment/navbar :: navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 ">
			<p class="text-center">Lorem ipsum dolor sit amet.</p>
		</div>
	</div>

</div>
</html>